
.container { padding-top: 30px; }

.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em; color: #2a3644; margin: 0; padding-bottom: 10px; }

.custom-responsive {
	display: block;
	width: 250px;
	height: 140px;
	border-style: solid;
	border-color: #2a3644;
}

.highlight {
	color: red;
	background-color: yellow;
}

.center {
	text-align: left;
  }
  
.pagination {
display: inline-block;
}

.pagination a {
color: black;
float: left;
padding: 2px 8px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
margin: 0;
}

.pagination a.active {
background-color: #4396E3;
color: white;
border: 1px solid #4396E3;
}

.pagination a:hover:not(.active) {background-color: #B2E3F6;}

.pagination a {
	font-size: 18px;
}

#result-list {
	margin: 10px 0 10px 0;
}

.hide {
	display: none;
}

